<div>
  <nav class="navbar transparent navbar-inverse navbar-expand-sm">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle-ellipsis" href="#" id="navbardrop" data-toggle="dropdown">
          Movies
          <i class="fa fa-chevron-down"></i>
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav>
</div>